@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Montserrat:wght@900&family=Poppins:wght@400;500;700;900&family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Montserrat:wght@200;300;900&family=Poppins:wght@400;500;700;900&family=Square+Peg&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.texthead{
    font-family: 'Square Peg', cursive;
    font-weight: 900;
    font-size: 60px;
}

 .img1{
    /* background-image: url("./images/pexels-recal-media-72161\ copy.jpg");
    background-position: center;
    background-size: cover; */
    height: 50vh;
} 

.img2{
    /* background-image: url("./images/pexels-recal-media-72161.jpg");
    background-position: center;
    background-size: cover; */
    height: 50vh;
} 

.centered {
    position: absolute;
    font-weight: 500;
    color: #fff;
    font-size: 3rem;
    top: 50%;
    bottom: 50%;
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px #1d1d1d;
  }

  .page2{
    background-image: url("./images/pexels-simon-blyberg-987640.jpg");
    background-position: center;
    background-size: cover; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 40vh;
  }

.text2{
    color: #fff;
}

.page3{
    background-image: url("./images/hppy.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 66vh;
  }

  .page4{
    background-image: url("./images/port1.jpg");
    background-position: center;
    background-size: cover; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 40vh;
  }

   .about{
    background-image: url("./images/about2.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;  
    height: 100vh;
  }  

  .mainn{
    font-size: 20px;
    letter-spacing: 0.8px;
  }

.service{
    background-image: url("./images/services.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;  
    height: 100vh;

}